/*medidas*/
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  box-sizing: border-box;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("../imagen/descarga3.jpg");
  background-size: cover;
  background-position: center;
  font-family: "Josefin Sans", sans-serif;
}

.Grid {
  display: grid;
  grid-template-areas: "header header header" "section section section" "footer footer footer";
  grid-template-rows: 0.2fr 2.6fr 0.2fr;
  grid-template-columns: auto auto auto;
  row-gap: 10px;
  column-gap: 10px;
  gap: 20px 10px;
  min-height: 100vh;
}

.Menu {
  width: 100%;
  height: 6rem;
  grid-area: header;
}
.Menu .titulo_nav {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.Menu .titulo_nav img {
  height: 52px;
  color: #0B0D56;
}
.Menu .titulo__index {
  font-size: 40px;
  color: aliceblue;
}

.Contenido {
  width: 100%;
  grid-area: section;
}
.Contenido .titulo__index {
  position: relative;
  bottom: 5px;
}
.Contenido .titulo__index .titulo_catalago {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d491a1;
  color: #0B0D56;
  font-weight: bolder;
}
.Contenido .cards__index {
  margin-top: 3rem;
  margin-left: 1rem;
  margin-bottom: 3rem;
}
.Contenido .cards__index .card {
  margin-right: 1rem;
}
.Contenido .cards__index .card img {
  width: 100%;
  height: 10rem;
}
.Contenido .cards__index .card .card-body {
  background-color: #6a6a6a;
}
.Contenido .cards__index .card .card-footer {
  width: 100%;
  /* background-color: map-get($Paleta, azul);*/
}
.Contenido .cards__index .card .card__link {
  text-decoration: none;
  color: #d491a1;
}
.Contenido .carrusel {
  margin-bottom: 15rem;
  overflow: hidden;
}
.Contenido .carousel-item img {
  height: 30rem;
  overflow: hidden;
}

.section_Generos {
  grid-area: section;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.section_Generos .Titulo__Secciones {
  width: 100%;
  position: relative;
  bottom: 10px;
}
.section_Generos .Titulo__Secciones .Titulo__Secciones__Contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  background-color: #0B0D56;
  color: #d491a1;
}
.section_Generos .Contenedor__Generos {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  padding: 2px;
}
.section_Generos .Contenedor__Generos .Card__Generos {
  width: 320px;
  height: 600px;
  border-radius: 8px;
  background-color: #0B0D56;
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin: 20px;
  transition: all 0.25s;
}
.section_Generos .Contenedor__Generos .Card__Generos :hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}
.section_Generos .Contenedor__Generos .Card__Generos img {
  padding-top: 10px;
  width: 300px;
  height: 300px;
}
.section_Generos .Contenedor__Generos .Card__Generos h3 {
  font-size: 23px;
  font-weight: bolder;
  color: #d491a1;
}
.section_Generos .Contenedor__Generos .Card__Generos p {
  font-size: 20px;
  color: #6a6a6a;
  margin-top: 20px;
  font-weight: bolder;
  overflow: hidden;
}
.section_Generos .Contenedor__Generos .Card__Generos .Contenedor__Card__carrito {
  text-decoration: none;
  font-size: 25px;
  background-color: rgba(241, 171, 195, 0);
  color: #d491a1;
  padding: 15px;
  justify-content: center;
  margin: 1rem;
}

.Contenedor__Formulario {
  grid-area: section;
  display: flex;
  flex-direction: column;
}
.Contenedor__Formulario .Titulo__Secciones__Compras {
  width: 100%;
  position: relative;
  bottom: 5px;
}
.Contenedor__Formulario .Titulo__Secciones__Compras .Titulo__Secciones__Contenido__Compras {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  background-color: #0B0D56;
  color: #d491a1;
}
.Contenedor__Formulario .Contenido__Formulario {
  margin-top: 10rem;
  margin-left: 30px;
  margin-right: 30px;
  background-color: rgba(0, 0, 0, 0.2);
}
.Contenedor__Formulario .Contenido__Formulario .Contenido__Formulario__Ingresos {
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 20px;
  color: #d491a1;
}
.Contenedor__Formulario .Contenido__Formulario .Boton_formulario {
  padding: auto;
}

.footer {
  grid-area: footer;
  width: 100%;
  margin-top: auto;
}

@media screen and (max-width: 768px) {
  .Grid {
    grid-template-rows: 0.1fr 2.8fr 0.1fr;
    grid-template-columns: auto auto auto;
  }
  .Menu {
    width: 100%;
    height: 4rem;
  }
  .Menu .titulo_nav {
    padding-bottom: 12px;
    margin: auto;
  }
  .Menu .titulo_nav img {
    padding-bottom: 20px;
  }
  .Menu .titulo__index {
    font-size: 27px;
  }
  .titulo__index {
    position: absolute;
    top: 30px;
    padding-bottom: 2rem;
  }
  .cards__index {
    margin-left: 40px;
  }
  .Titulo__Secciones {
    position: absolute;
    top: 8px;
  }
  .Titulo__Secciones__Compras {
    position: absolute;
    top: 32px;
  }
}

/*# sourceMappingURL=estilos.css.map */
