@mixin flex-evenly{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
@mixin flex-centrado {
display: flex;
justify-content:center;
align-items: center;    

}