.Contenido {
    width: $anchocompleto;
    grid-area: section;
    .titulo__index{
        position: relative;
        bottom: 5px;
    .titulo_catalago {
        @include flex-centrado;
        background-color: map-get($Paleta, rosa);
        color: map-get($Paleta, azul);
        font-weight: bolder;
    }
    }
    .cards__index {
        margin-top: 3rem;
        margin-left: $minimaseparacion;
        margin-bottom: 3rem;
       
        .card {
            margin-right: $minimaseparacion;

            img {
                width: $anchocompleto;
                height: 10rem;
            }

            .card-body {
               background-color: map-get($Paleta, gris );
            }

            .card-footer {
                width: $anchocompleto;
               /* background-color: map-get($Paleta, azul);*/
            }

            .card__link {
                text-decoration: none;
                color: map-get($Paleta, rosa);
            }

        }
    }
    .carrusel{
        margin-bottom: 15rem;
        overflow: hidden;
      }
      .carousel-item img{
        height: 30rem;
        overflow: hidden;
      }
}